# data Variabales
# date 8.may.2025

In [ ]:
b="5"
type(b)

str

In [2]:
a=6
a

6

In [3]:
a1=7
a1

7

In [4]:
a

6

In [5]:
a1

7

In [6]:
b

'5'

In [8]:
a="5"
type(a)

str

In [1]:
import sys # how to get current version of python 
sys.version

'3.10.12 (main, Feb  4 2025, 14:57:36) [GCC 11.4.0]'

In [4]:
a=5
a
type(a)

int

In [5]:
6= b #SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='?

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2793046046.py, line 1)

In [7]:
#to verfiy if the python is installed or not
import sys
sys.version

'3.10.12 (main, Feb  4 2025, 14:57:36) [GCC 11.4.0]'

# creating variables and assinging values

In [8]:
#integer
a=2
type(a)

int

In [10]:
#integer 
b=9223372036
print(b)

9223372036

In [16]:
b=9223372036 #SyntaxError: 'return' outside function
return(b)

SyntaxError: 'return' outside function (338486005.py, line 2)

In [18]:
#float point 
pi=3.14
print(pi)

3.14

In [19]:
type(pi)

float

In [20]:
#string 
c='A'
print(c)

A

In [21]:
type(c)

str

In [22]:
#String 
name="mahesh"
print(name)
type(name)

mahesh

str

In [23]:
#boolean
q=True
print(q)

True

In [24]:
q1=False
print(q1)

False

In [26]:
#empty value or null data type
X=None
print(X)

None

In [28]:
int(X) #TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [29]:
5=x # variable assisngment works from left to right .So the following give you an syntax error
#SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='?

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (434140287.py, line 1)

In [32]:
x=5
print(x)

5

# Python(identifier/ variable/objescts)

In [35]:
ABC=50
AB # it is AB is not defined

NameError: name 'AB' is not defined

In [37]:
NIT=15000 # pyhton is case senstive
nit

NameError: name 'nit' is not defined

In [39]:
cash123=10
cash123

10

In [58]:
123cash=12 # variables not start with number or  digit
#SyntaxError: invalid decimal literal
123cash #SyntaxError: invalid decimal literal

SyntaxError: invalid decimal literal (1193335771.py, line 1)

# variable
- 1.variables not start with number or  digit.
  eg:----> 123total=30
- 2.($,*) symbole is not allowed in the python identifer but in java is allowed.eg:------->"ca*h= 20"
- 3.Identifier are case sensitive. Eg:------->abcde=12
print(abcde
- 4.identifier cannot be keywords. eg:------->def =19
- 5.there is no length limit in python Identifer. eg:----->abcdefgefghijks =20
- 6.we can only use underscore symbole._abc_def_gef =20

In [46]:
#x=10 # xis the variable name and 10 is values
cash=10 #identifer rules ALPHABITS
#ca$h =10 # $ symbole is not allowed in the python identifer but in java is allowed
#ca$h
cash

10

In [48]:
ca$h= 20 #SyntaxError: invalid syntax
ca$h

SyntaxError: invalid syntax (504679199.py, line 1)

In [50]:
ca*h=20 #SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='?
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3247208676.py, line 1)

In [51]:
CASH =20
CASH

20

In [56]:
CASH1= 30
#cash1 #NameError: name 'cash1' is not defined
CASH1

30

In [57]:
#<2> Identifier should not starts with digits
#sum123=20
123total=30
123total#SyntaxError: invalid decimal literal

SyntaxError: invalid decimal literal (3190994283.py, line 3)

In [59]:
#dentifier are case sensitive.
abcds=20
abcds

20

In [61]:
new=30 #NameError: name 'NEW' is not defined
NEW

NameError: name 'NEW' is not defined

In [62]:
Total5=30
TOTAL #NameError: name 'TOTAL' is not defined

NameError: name 'TOTAL' is not defined

In [ ]:
def=4.6 #SyntaxError: invalid syntax
def

In [66]:
#<4> Keywords can not be assigned as identifier
#if=10
#def =12
for =20 #SyntaxError: invalid syntax

for

SyntaxError: invalid syntax (1449460737.py, line 4)

In [69]:
FOR =50 # for != FOR
FOR # python is case sensitive

50

In [72]:
abcdefgefghijks =20
abcdefgefghijks

20

In [70]:
#<5> there is no length limit in python Identifer
_abc_def_gef =20
_abc_def_gef

20

# python Reserved words
- 1.  #_hash is used for comment

In [74]:
# a= True #hash is used for comment
a=True
a

True

In [76]:
a=true #Ture != true Becoz python is case sensitive
a1 # NameError: name 'true' is not defined

NameError: name 'true' is not defined

In [79]:
True=a #worng Syntax. eg a=True 
True #SyntaxError: cannot assign to True

SyntaxError: cannot assign to True (2610091473.py, line 1)

In [83]:
b=None 
print(b)

None

In [86]:
b=none #NameError: name 'none' is not defined
Print(b)

NameError: name 'none' is not defined

In [88]:
c=False
c1= false
c1

NameError: name 'false' is not defined

In [89]:
c

False

# how to remember all keywords(Interview Question)

In [1]:
#KEYWORD is the modulw run from IMPORT classab
import keyword
keyword.kwlist #kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# write a cordding to craete Index of the keywords----ImPortant-----

In [10]:
import pandas as pd #pandas is the module  to create a datafram
df= pd.DataFrame(keyword.kwlist)
df
# ALWAYSREMEMBER PYTHON INDEX BEGINS WITH  '0'

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

In [11]:
help(keyword)

Help on module keyword:

NAME
    keyword - Keywords (from "Grammar/python.gram")

MODULE REFERENCE
    https://docs.python.org/3.10/library/keyword.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This file is automatically generated; please don't muck it up!

    To update the symbols in this file, 'cd' to the top directory of
    the python source tree and run:

        PYTHONPATH=Tools/peg_generator python3 -m pegen.keywordgen         Grammar/python.gram         Grammar/Tokens         Lib/keyword.py

    Alternatively, you can run 'make regen-keyword'.

FUNCTIONS
    iskeyword = __contains__(...) method of builtins.frozenset instance
        x.__contains__(y) <==> y in x.

    issoftkeyword = __contains__(...) method of builtins.frozenset instance
        x.__contains__(y) <==> y in x.

DATA
    __all__ = ['iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']
    kwlist = ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'aw...
    softkwlist = ['_', 'case', 'match']

FILE
    /usr/lib/python3.10/keyword.py

In [20]:

help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>  keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

help>  1

No Python documentation found for '1'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>  q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.